.sidebar-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
  
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.3rem;
    font-size: 1.5rem;
    border-top: 1px solid #eee;
  }
  
  .sidebar-container a {
    color: #fff;
  }
  .sidebar-container button {
    border: none;
    color: #fff;
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
  }
  
  @media screen and (min-width: 768px) {
    .sidebar-container {
      top: 3.1rem;
      width: 100px;
      right: auto;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }