.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 0.2rem 1rem;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}
.nav-brand-logo {
  width: 8rem;
}
.nav-user-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.search-input {
  padding: 0.5rem;
  border-radius: 3rem;
  border: 1px solid #ddd;
  flex: 0.3;
}
